{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead class="text-center table-dark">
            <tr>
                <th>제목</th> 
                <th>만든이</th>   
            </tr>
        </thead>
        <tbody>
            {% if game_list %}
            {% for game in game_list %}
            <tr class="text-center">
                <td class="text-start">
                    <a href="{% url 'entec:detail' game.id %}">{{ game.subject }}</a>
                    <span class="text-danger small ml-2">{{ game.player_set.count }}</span>
                </td>
                <td>{{ game.creator.username }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <a href="{% url 'entec:game_create' %}" class="btn btn-primary">매치 추가</a>
</div>
{% endblock %}