{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h2 class="border-bottom py-2">[2021.11.31]정모 A</h2>
    <table class="table">
        <thead class="text-center table-dark">
            <tr>
                <td>NO</td>
                <td>Name</td>
                <td>G1</td>
                <td>G2</td>
                <td>G3</td>
                <td>G4</td>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td>1</td>
                <td>홍길동</td>
                <td>6 : 3</td>
                <td>2 : 6</td>
                <td>6 : 1</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <form method="post">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Name</span>
            <input type="text" class="form-control" name="player" id="player" value="이순신">
            <button type="submit" class="btn btn-outline-secondary">Add</button>
        </div>
    </form>
    <!-- 대진표 -->
    <h5 class="border-bottom py-2">대진표</h5>
    <table class="table">
        <thead class="text-center table-dark">
            <tr>
                <td>NO</td>
                <td>Team A : Team B</td>
                <td>결과</td>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td>1</td>
                <td>홍길동,강감찬:이순신,유관순</td>
                <td> 6  :  3 </td>
            </tr>
        </tbody>
    </table>
    <form>
        <div class="input-group input-group-sm mb-2">
            <span class="input-group-text">Score</span>
            <input type="number" class="form-control" value="6">
            <span class="input-group-text">:</span>
            <input type="number" class="form-control" value="6">
            <button type="submit" class="btn btn-outline-secondary">결과입력</button>
        </div>
    </form>
    <!-- 집계-->
    <h5 class="border-bottom py-2">집계</h5>
    <table class="table">
        <thead class="text-center table-dark">
            <tr>
                <td>Name</td>
                <td>MW</td>
                <td>ML</td>
                <td>GW</td>
                <td>GL</td>
                <td>SM</td>
                <td>RA</td>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td>1.홍길동</td>
                <td>1</td>
                <td>3</td>
                <td>13</td>
                <td>17</td>
                <td>-4</td>
                <td>4</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}