{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h2 class="border-bottom py-2">{{ game.subject }}</h2>
    <table class="table">
        <thead class="text-center table-dark">
            <tr>
                <td>NO</td>
                <td>Name</td>
                <td>G1</td>
                <td>G2</td>
                <td>G3</td>
                <td>G4</td>
            </tr>
        </thead>
        <tbody>
            {%  for player in game.player_set.all %}
            <tr class="text-center">
                <td>{{ player.id }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.score_01|default_if_none:"" }}:{{ player.score_11|default_if_none:"" }}</td>
                <td>{{ player.score_02|default_if_none:"" }}:{{ player.score_12|default_if_none:"" }}</td>
                <td>{{ player.score_03|default_if_none:"" }}:{{ player.score_13|default_if_none:"" }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'entec:player_create' game.id %}" method="post">
        {% csrf_token %}
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Name</span>
            <input type="text" class="form-control" name="name" id="name" value="">
            <button type="submit" class="btn btn-outline-secondary">Add</button>
        </div>
    </form>
    <div class="btn-toolbar justify-content-end">
        <div class="btn-group btn-group-sm">
            <a href="{% url 'entec:match_create' game.id %}" class="btn btn-outline-secondary">대진표 생성</a>
        </div>
    </div>
    <!-- 대진표 -->
    <h5 class="border-bottom py-2">대진표</h5>
    <table class="table">
        <thead class="text-center table-dark">
            <tr>
                <td>NO</td>
                <td>Team A : Team B</td>
                <td>결과</td>
            </tr>
        </thead>
        <tbody>
            {% for match in game.match_set.all %}
            <tr class="text-center">
                <td>{{ match.id }}</td>
                <td>{{ match.desc }}</td>
                <td>
                    {% if match.score %}
                        {{ match.score }}
                    {% else %}
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#collap{{match.id}}">입력</button>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div id="collap{{match.id}}" class="collapse">
                        <form action="{% url 'entec:match_save' match.id %}" method="post">
                            {% csrf_token %}
                            <div class="input-group input-group-sm mb-2">
                                <span class="input-group-text">Score</span>
                                <input type="number" class="form-control" name="no1" id="no1" value="6">
                                <span class="input-group-text">:</span>
                                <input type="number" class="form-control" name="no2" id="no2" value="6">
                                <button type="submit" class="btn btn-outline-secondary">결과입력</button>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- 집계-->
    <h5 class="border-bottom py-2">집계</h5>
    <table class="table">
        <thead class="text-center table-dark">
            <tr>
                <td>Name</td>
                <td>MW</td>
                <td>ML</td>
                <td>GW</td>
                <td>GL</td>
                <td>SM</td>
                <td>RA</td>
            </tr>
        </thead>
        <tbody>
            {%  for player in game.player_set.all %}
            <tr class="text-center">
                <td>{{ player.name }}</td>
                <td>{{ player.win_ma|default_if_none:"" }}</td>
                <td>{{ player.los_ma|default_if_none:"" }}</td>
                <td>{{ player.win_ga|default_if_none:"" }}</td>
                <td>{{ player.los_ga|default_if_none:"" }}</td>
                <td>{{ player.sum_ga|default_if_none:"" }}</td>
                <td>{{ player.game_rank|default_if_none:"" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}