{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h2 class="border-bottom py-2">{{ game.subject }}</h2>
    <div class="btn-toolbar justify-content-end mb-2">
        <div class="btn-group btn-group-sm">
            <a href="{% url 'entec:game_modify' game.id %}" class="btn btn-outline-secondary">수정</a>
            <a href="#" class="delete btn btn-outline-secondary" data-uri="{% url 'entec:game_delete' game.id %}">삭제</a>
        </div>
    </div>
    <table class="table">
        <thead class="text-center table-dark">
            <tr>
                <td>NO</td>
                <td>Name</td>
                <td>G1</td>
                <td>G2</td>
                <td>G3</td>
                <td>G4</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {%  for player in game.player_set.all %}
            <tr class="text-center">
                <td>{{ player.seq }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.score_01|default_if_none:"" }}:{{ player.score_11|default_if_none:"" }}</td>
                <td>{{ player.score_02|default_if_none:"" }}:{{ player.score_12|default_if_none:"" }}</td>
                <td>{{ player.score_03|default_if_none:"" }}:{{ player.score_13|default_if_none:"" }}</td>
                <td>{{ player.score_04|default_if_none:"" }}:{{ player.score_14|default_if_none:"" }}</td>
                <td><a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'entec:player_delete' player.id %}">삭제</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'entec:player_create' game.id %}" method="post">
        {% csrf_token %}
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Name</span>
            <input type="text" class="form-control" name="name" id="name" value="">
            <button type="submit" class="btn btn-outline-secondary">Add</button>
        </div>
    </form>
    <div class="btn-toolbar justify-content-end">
        <div class="btn-group btn-group-sm">
            {% if game.match_set.count == 0 %}
            <a href="{% url 'entec:match_create' game.id %}" class="btn btn-outline-secondary">대진표 생성</a>
            {% else %}
            <a href="{% url 'entec:match_delete' game.id %}" class="btn btn-outline-secondary">대진표 삭제</a>
            {% endif %}
        </div>
    </div>
    <!-- 대진표 -->
    <h5 class="border-bottom py-2">대진표</h5>
    <table class="table">
        <thead class="text-center table-dark">
            <tr>
                <td>NO</td>
                <td>Team A : Team B</td>
                <td>결과</td>
            </tr>
        </thead>
        <tbody>
            {% for match in game.match_set.all %}
            <tr class="text-center">
                <td>{{ match.seq }}</td>
                <td>{{ match.desc }}</td>
                <td>
                    {% if match.score %}
                        {{ match.score }}
                    {% else %}
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#collap{{match.id}}">입력</button>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div id="collap{{match.id}}" class="collapse">
                        <form action="{% url 'entec:match_save' match.id %}" method="post">
                            {% csrf_token %}
                            <div class="input-group input-group-sm justify-content-end">
                                <span class="input-group-text">Score</span>
                                <select class="form-select" name="no1" id="no1">
                                    <option value="6" selected>6</option>
                                    <option value="5">5</option>
                                    <option value="4">4</option>
                                    <option value="3">3</option>
                                    <option value="2">2</option>
                                    <option value="1">1</option>
                                    <option value="0">0</option>
                                </select>
                                <span class="input-group-text">:</span>
                                <select class="form-select" name="no2" id="no2">
                                    <option value="6" selected>6</option>
                                    <option value="5">5</option>
                                    <option value="4">4</option>
                                    <option value="3">3</option>
                                    <option value="2">2</option>
                                    <option value="1">1</option>
                                    <option value="0">0</option>
                                </select>
                                <button type="submit" class="btn btn-outline-secondary">결과입력</button>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- 집계-->
    <h5 class="border-bottom py-2">집계</h5>
    <table class="table">
        <thead class="text-center table-dark">
            <tr>
                <td>Name</td>
                <td>MW</td>
                <td>ML</td>
                <td>GW</td>
                <td>GL</td>
                <td>SM</td>
                <td>RA</td>
            </tr>
        </thead>
        <tbody>
            {%  for player in game.player_set.all %}
            <tr class="text-center">
                <td>{{ player.name }}</td>
                <td>{{ player.win_ma|default_if_none:"" }}</td>
                <td>{{ player.los_ma|default_if_none:"" }}</td>
                <td>{{ player.win_ga|default_if_none:"" }}</td>
                <td>{{ player.los_ga|default_if_none:"" }}</td>
                <td>{{ player.sum_ga|default_if_none:"" }}</td>
                <td>{{ player.game_rank|default_if_none:"" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function() {
    $(".delete").on("click", function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data("uri");
        }
    });
});
</script>
{% endblock %}
